<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="/css/styles.css">
	<title>Weather App</title>
</head>

<body>
	<div class="main-content">
		{{>header}}
		<div class="help-message">
			<p>Till Now everything is quite normal and easy. In future when things will be complicated we will try to add some content that will help the users.</p>
		</div>
	</div>
	{{>footer}}

</body>

</html>
